# Reserved names
nul
NUL

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# IDEs
.vscode/
.idea/
.obsidian/
**/.obsidian/

# OS
.DS_Store
Thumbs.db

# Auto push logs
auto-push.log*
